<h1>New list_item</h1>

<form id="new-list_item" name="list_item">
  <div class="field">
    <label for="title"> title:</label>
    <input type="text" name="title" id="title" value="<%= title %>" >
  </div>

  <div class="field">
    <label for="state"> state:</label>
    <input type="text" name="state" id="state" value="<%= state %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Item" />
  </div>

</form>

<a href="#/index">Back</a>